/* Mobile fixes for logo and disco ball */
@media (max-width: 640px) {
    .site-logo {
        top: 0.5rem;
        left: 0.5rem;
        padding: 0.4rem 0.6rem;
        max-width: 140px;
        font-size: 0.75rem;
    }

    .logo-image {
        max-height: 35px;
        max-width: 130px;
    }

    .upload-icon {
        font-size: 1.2rem;
    }

    .upload-text {
        font-size: 0.6rem;
    }

    .logo-icon {
        font-size: 1.5rem;
    }

    .logo-main {
        font-size: 0.9rem;
    }

    .logo-sub {
        font-size: 0.5rem;
    }

    .disco-ball-container {
        top: 0.5rem;
        right: 0.5rem;
    }

    .disco-ball {
        width: 50px;
        height: 50px;
    }
    
    /* Make sure logo and disco ball don't overlap with header */
    header {
        margin-top: 3rem;
    }
}

/* Extra small screens */
@media (max-width: 400px) {
    .site-logo {
        max-width: 120px;
        padding: 0.3rem 0.5rem;
    }

    .logo-image {
        max-height: 30px;
        max-width: 110px;
    }

    .disco-ball {
        width: 45px;
        height: 45px;
    }
    
    header {
        margin-top: 3.5rem;
    }
}
